{
  "extends": "airbnb",
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "mocha/no-exclusive-tests": "error",
    "no-unused-expressions": "warn"
  }
}
